<div class="container">
    <div class="row">
        <h2>
            Products
        </h2>
    </div>
    <div class="row mb-10">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addProductModal">
            Dodaj nowy produkt
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel">
            <div class="modal-dialog" role="document">
                <form class="modal-content" ng-submit="vm.productsService.set(product);">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="addProductModalLabel">Dodaj nową kategorię</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Nazwa Produktu</label>
                                    <input type="text" ng-model="product.name" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Kategorie produktu</label>
                                    <tags-input placeholder="Wpisz kategorie produktu" ng-model="product.productCategories" key-property="categoryId" display-property="name" add-from-autocomplete-only="true">
                                        <auto-complete display-property="name" max-results-to-show="5" source="vm.categoriesService.getCategoriesContainsString($query)"></auto-complete>
                                    </tags-input>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Dodaj zdjęcia do produktu</label>
                            <file-input ng-model="product.images" multiple="true"></file-input>
                        </div>
                        <div class="form-group">
                            <label>Opis produktu</label>
                            <textarea rows="3" ng-model="product.description" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="form-group-input">Cena</label>
                            <input type="number" step="0.01" ng-model="product.price" class="form-control" id="form-group-input" placeholder="Cena">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="vm.clearForm()" data-dismiss="modal">Odrzuć</button>
                        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="well well-sm">
            <div class="row">
                <div class="col-xs-6">
                    <strong>Sposób wyświetlania produktów: </strong>
                    <div class="btn-group">
                        <button ng-click="listSelected = true" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-th-list">
                            </span>List
                        </button>
                        <button ng-click="listSelected = false" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-th"></span>Grid
                        </button>
                    </div>
                </div>
                <div class="col-xs-6">

                </div>
            </div>
        </div>
        <div id="products" class=" list-group" ng-class="listSelected === true ? 'list' : ''">
            <div class="item  col-xs-4 col-lg-4" ng-repeat="productItem in vm.products">
                <div class="thumbnail">
                    <img class="group list-group-image" ng-if="!productItem.images[0]" src="http://placehold.it/400x250/000/fff" alt="" />
                    <img ng-if="productItem.images[0]" class="group list-group-image img-responsive" ng-src="data:{{productItem.images[0].type}};base64,{{productItem.images[0].content}}" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            {{productItem.name}}
                        </h4>
                        <p class="tags">
                            <a class="label label-default" ng-href="categories/{{tag.categoryId}}" ng-repeat="tag in productItem.productCategories">{{tag.name}}</a>
                        </p>
                        <p class="group inner list-group-item-text">
                            {{productItem.description}}
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="lead">
                                    {{productItem.price | currency:"PLN"}}
                                </p>
                            </div>
                            <div class="col-xs-12">
                                <div class="mb-10">
                                    <div class="">
                                        <button class="btn btn-sm btn-success pull-right" ng-click="vm.cartService.addToCart(productItem)">Add to cart</button>
                                    </div>
                                    <div class="">
                                        <a class="btn btn-sm btn-info mr-5 pull-left" ng-href="products/{{productItem.productId}}"><i class="glyphicon glyphicon-edit"></i></a>
                                    </div>
                                    <div class="">
                                        <button class="btn btn-sm btn-danger pull-left" ng-click="vm.remove(productItem.productId)"><i class="glyphicon glyphicon-remove"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>